*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #b2bec3;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
}
label {
  color: #2d3436;
  font-weight: 500;
  font-size: clamp(0.5rem, calc(2vw + 0.5rem), 5rem);
}
.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.btns {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
.btns button {
  background-color: #2d3436;
  color: #f9fafb;
  font-weight: 700;
  font-size: 2rem;
  width: max-content;
  box-shadow: 2px 2px 11px rgb(70, 68, 64);
  padding: 0.97em 1.25em;
  border-radius: 5px;
  border: none;
  transition: background-color 0.265s ease-in, color 0.265s ease-out,
    box-shadow 1s ease-out, transform 0.265s ease-in-out;
  will-change: background-color, color, box-shadow, transform;
}
.btns button:hover,
.btns button:focus {
  background-color: #fab1a0;
  color: #0984e3;
  /* box-shadow: 0 8px 3px rgb(78, 75, 70); */
}
.btns button:focus {
  outline: 3px dotted #e84393;
  outline-offset: 10px;
  transform: scale(0.95);
  box-shadow: inset -2px -2px 11px rgb(70, 68, 64);
}
textarea {
  resize: none;
  background-color: whitesmoke;
  border-radius: 5px;
  font-weight: 400;
  font-size: 3rem;
  outline: none;
  border: none;
  color: #3b82f6;
}
textarea:focus {
  outline: 2px solid #a29bfe;
  outline-offset: 5px;
}
::placeholder {
  opacity: 0.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.wrapper-wrap{width:100%;display:flex;gap:10px;flex-wrap: wrap;}