*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #b2bec3;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
}
label {
 
  color: #2d3436;
  font-weight: 500;
  font-size: clamp(1rem, calc(2vw + 1rem), 5rem);
}
.container {
  /* width: 800px; */
  display: flex;
  flex-direction: column;
 
  gap: 1em;

}
.container *{ margin:0 auto;}
.btns{padding-bottom: 1em;}
.btns button {
  cursor: pointer;
  background-color: #000000;
  color: #f9fafb;
  font-weight: 700;
  font-size: clamp(1rem, calc(2vw + 1rem), 5rem);
  box-shadow: 2px 2px 11px rgb(70, 68, 64);
  padding: 0.4em .5em;
  border-radius: 5px;
  border: none;
  margin-bottom:5px;
  transition: background-color 0.265s ease-in, box-shadow 1s ease-out,
    transform 0.265s ease-in-out;
  will-change: background-color, box-shadow, transform;
}

.btns button:hover,
.btns button:focus {
  background-color: #316290;

  /* box-shadow: 0 8px 3px rgb(78, 75, 70); */
}
.btns button:focus {
  outline: 3px dotted #e84393;
  outline-offset: 10px;
  transform: scale(0.95);
  box-shadow: inset -2px -2px 11px rgb(70, 68, 64);
}
textarea {
  resize: none;
  background-color: whitesmoke;
  border-radius: 5px;
  font-weight: 400;
  font-size: clamp(1.4rem, calc(2vw + 1.4rem), 5rem);
  outline: none;
  border: none;
  color: #3b82f6;
  width:85%;
  
}

textarea:focus {
  outline: 2px solid #a29bfe;
  outline-offset: 5px;
}
::placeholder {
  opacity: 0.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size:clamp(1rem, calc(2vw + 1rem), 5rem);
}
.wrapper-wrap {
  
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.wrapper {
  width: 150px;
  height: 150px;
  border: 3px dashed #f5f6fa;
  padding: 10px;
  border-radius: 40px;
  display: grid;
  place-content: center;
}
.wrapper img {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border: 3px dotted #e84393;
}
button:disabled,
button:disabled:hover {
  background-color: rgb(95, 95, 87);
  color: rgb(189, 181, 181);
  transform: scale(0.9);
  cursor: auto;
}

@media (max-width: 599px) {
  .wrapper-wrap {
    justify-content: center;
  }
  /* textarea,label{margin: 0  auto;} */
}
@media (min-width:600px){
  
}